@import 'variables';

.choice{
    background: $brown;
}

.choice-text{
    color: $white;
}

.editor-label{
    align-items: center;
}

.description{
    font-weight: bold
}

.action{
    font-weight: bolder;
    color: $orange;
}

.dialog{
    font-style: italic;
}