@import 'variables';

.hero-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $brown;
    flex-wrap: wrap;
}

.hero-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hero-stats {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-points {
    color: $orange;
}

.hero-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
}


.hero-input {
    width: 80%;
}

.stat-label{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 90%;
}

.hero-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 50%;
}

.skill-label{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.skillset{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skill-container{
    display: flex;
}

.button-minus{
    &:hover{
        transition: .3s ease;
        background: $orange;
    }
}

.button-plus{
    &:hover{
        transition: .3s ease;
        background: $green;
    }
}

@media (min-width: $medium) {

}

@media (min-width: $big) {
    .hero-stats {
        width: 25%;
    }
    
    .hero-skills{
        width: 75%;
    }
    
    .skillset{
        width: 45%;
    }
}