// LAYOUT
$medium: 480px;
$big: 720px;

$elem-max-width: 800px;

$vw-s: 85vw;
$vw-m: 75vw;
$vw-b: 65vw;

$margin-t-s: 12px;
$margin-t-m: 18px;
$margin-t-b: 22px;

$margin-st-s: 10px;
$margin-st-m: 16px;
$margin-st-b: 18px;

$margin-s: 8px;
$margin-m: 10px;
$margin-b: 14px;

$pad-h-s: 6px;
$pad-h-m: 12px;
$pad-h-b: 18px;

$pad-w-s: 8px;
$pad-w-m: 16px;
$pad-w-b: 24px;

$pad-min: 4px;

$border-rad: 6px;

// FONT
$fs-t-s: 20px;
$fs-t-m: 26px;
$fs-t-b: 32px;

$fs-st-s: 20px;
$fs-st-m: 24px;
$fs-st-b: 28px;

$fs-s: 14px;
$fs-m: 18px;
$fs-b: 22px;

//COLORS
$green: rgba(0, 229, 164, 1);
$brown: rgba(206, 163, 103, 1);
$orange: rgba(229, 85, 59, 1);
$black: rgba(51, 39, 48, 1);
$white: rgb(241, 241, 241);