// LAYOUT
$min-width: 360px;
$medium: 480px;
$big: 800px;

$elem-max-width: 1024px;

$vw-s: 95vw;
$vw-m: 90vw;
$vw-b: 85vw;

$margin-t-s: 8px;
$margin-t-m: 12px;
$margin-t-b: 16px;

$margin-st-s: 4px;
$margin-st-m: 6px;
$margin-st-b: 8px;

$margin-s: 6px;
$margin-m: 8px;
$margin-b: 12px;

$pad-h-s: 6px;
$pad-h-m: 12px;
$pad-h-b: 18px;

$pad-w-s: 8px;
$pad-w-m: 16px;
$pad-w-b: 24px;

$pad-min: 4px;

$border-rad: 6px;

// FONT
$fs-t-s: 26px;
$fs-t-m: 28px;
$fs-t-b: 30px;

$fs-st-s: 22px;
$fs-st-m: 24px;
$fs-st-b: 26px;

$fs-s: 14px;
$fs-m: 18px;
$fs-b: 22px;

//COLORS
$green: rgba(0, 229, 164, 1);
$brown: rgba(206, 163, 103, 1);
$orange: rgba(229, 85, 59, 1);
$black: rgba(51, 39, 48, 1);
$white: rgb(241, 241, 241);