@import 'variables';

.hero-form{
    display: flex;
    flex-direction: column;
    background: $brown;
}

.hero-input {
    width: 50%;
}

.hero-label{
    display: flex;
    justify-content: space-around;
}

.hero-points {
    color: $orange;
    font-weight: bold;
}

.hero-stats {
    width: 50%
}

.hero-info {
    display: flex;
    flex-direction: row;
    > .hero-label {
        width: 50%;
    }
}