@import 'reset';
@import 'variables';

@media (max-width: $min-width) {
    *{ display: none }
}

body {
    background: $white;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $vw-s;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    &--space-around{
        @extend .row;
        justify-content: space-around;
    }
    &--space-between{
        @extend .row;
        justify-content: space-between;
    }
}

.column {
    display: flex;
    flex-direction: column;
    &--space-around{
        @extend .column;
        justify-content: space-around;
    }
    &--space-between{
        @extend .column;
        justify-content: space-between;
    }
}

.full-width{
    width: 100%;
}

.almost-full-width{
    width: 70%;
}

.half-width{
    width: 50%;
}

.title {
    font-size: $fs-t-s;
    height: $fs-t-s;
    font-weight: bold;
    color: $black;
    text-align: center;
}

.subtitle {
    font-size: $fs-st-s;
    height: $fs-st-s;
    font-weight: bold;
    color: $black;
    text-align: center;
}

.tag {
    @extend .text;
    font-weight: bolder;
    text-align: center;
    height: $fs-s;
}

.text {
    font-size: $fs-s;
    color: $black;
    &--margin {
        @extend .text;
        margin-left: $margin-s;
        margin-top: $margin-s;
    }
}

.text-align-left{
    text-align: left
}

.border {
    border-radius: $border-rad;
    &--color {
        border: 1px solid $black;
    }
}

.padding {
    padding: $pad-h-s $pad-w-s;
    &--lr {
        @extend .padding;
        padding-top: $pad-min !important;
        padding-bottom: $pad-min !important;
    }
    &--ud {
        @extend .padding;
        padding-left: $pad-min !important;
        padding-right: $pad-min !important;
    }
}


.margin {
    margin: $margin-s;
    &--lr {
        margin: 0 $margin-s;
    }
    &--ud {
        margin: $margin-s 0;
    }
    &--b {
        margin-bottom: $margin-s;
    }
    &--r {
        margin-right: $margin-s;
    }
}

.padding {
    padding: $pad-h-s;
    &--lr {
        padding: 0 $pad-w-s;
    }
    &--ud {
        padding: $pad-h-s 0;
    }
}

input {
    background: $white;
    color: $black;
}

textarea {
    resize: none;
    background: $white;
    color: $black;
    min-height: 20vh;
    margin: 0;
}

button {
    background: none;
    border: none;
}

@media (min-width: $medium) {
    .title {
        font-size: $fs-t-m;
        height: $fs-t-m;
    }
    
    .subtitle {
        font-size: $fs-st-m;
        height: $fs-st-m;
    }

    .tag {
        height: $fs-m;
    }

    .text {
        font-size: $fs-m;
        &--margin {
            margin-left: $margin-m;
            margin-top: $margin-m;
        }
    }

    .padding {
        padding: $pad-h-m $pad-w-m
    }

    .margin {
        margin: $margin-m;
        &--lr {
            margin: 0 $margin-m;
        }
        &--ud {
            margin: $margin-m 0;
        }
        &--b {
            margin-bottom: $margin-m;
        }
        &--r {
            margin-right: $margin-m;
        }
    }
    .padding {
        padding: $pad-h-m;
        &--lr {
            padding: 0 $pad-w-m;
        }
        &--ud {
            padding: $pad-h-m 0;
        }
    }
}

@media (min-width: $big) {
    .title {
        font-size: $fs-t-b;
        height: $fs-t-b;
    }
    
    .subtitle {
        font-size: $fs-st-b;
        height: $fs-st-b;
    }

    .tag {
        height: $fs-b;
    }

    .text {
        font-size: $fs-b;
        &--margin{
            margin-left: $margin-b;
            margin-top: $margin-b;
        }
    }

    .padding {
        padding: $pad-h-b $pad-w-b
    }

    .margin {
        margin: $margin-b;
        &--lr {
            margin: 0 $margin-b;
        }
        &--ud {
            margin: $margin-b 0;
        }
        &--b {
            margin-bottom: $margin-b;
        }
        &--r {
            margin-right: $margin-b;
        }
    }

    .padding {
        padding: $pad-h-b;
        &--lr {
            padding: 0 $pad-w-b;
        }
        &--ud {
            padding: $pad-h-b 0;
        }
    }
}